body {
  margin: 0;
  height: 100%;
  line-height: 2.5;
}

.hidden {
  display: none;
}

.root {
  height: 100%;
}

.week-title {
  background-color: rgba(192, 192, 192, 0.7);
  position: fixed;
  top: 0;
  left: 16px;
  right: 16px;
  margin: 0 -16px;
  padding: 0 16px;
}

.week-title-item, .days-item {
  display: inline-block;
  text-align: center;
  width: 14.28%;
}

.months {
  padding: 40px 16px;
}

.months-item > .name {
  font-size: 4vw;
  padding: 12px 16px;
  text-align: right;
}

.deep-blue {
  background-color: #16b;
  color: #fff
}

.light-blue {
  background-color: #2ad
}

.selected-text {
  background-color: rgba(192, 192, 192, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}