html,
body {
  margin: 0;
  height: 100%;
  line-height: 2.5;
}

.hidden {
  display: none;
}

.root {
  height: 100%;
}

.selectDemo {
  float: left;
  width: 200px;
}

.selectDemo>label {
  display: block;
  border: 2px solid green;
  margin: 8px;
  overflow: auto;
}

.selectDemo>label.current {
  background-color: #bfb;
  box-shadow: 0 0 8px green;
}

.demosGround {
  margin-left: 200px;
  position: relative;
  height: 100%;
}

.demosGround>div {
  height: 100%;
  overflow: auto;
}

button {
  margin: .5rem;
  padding: 1rem;
}

.weekTitle {
  background-color: rgba(192, 192, 192, 0.7);
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  margin: 0 -16px;
  padding: 0 16px;
}

.weekTitle>div,
.days>div {
  display: inline-block;
  text-align: center;
  width: 14.28%;
}

.weekTitle>div>.end {
  color: #0088ff;
}

.months {
  padding: 40px 16px;
}

.monthsItem>.name {
  font-size: 24px;
  padding: 12px 16px;
  text-align: right;
}

.deepBlue {
  background-color: #16b;
  color: #fff
}

.lightBlue {
  background-color: #2ad
}

.selectedText {
  background-color: rgba(192, 192, 192, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.newTitle {
  background-color: #bfb;
}

.demoForm>* {
  display: block;
}

.demoForm>.result {
  word-break: break-all;
}